extends ../layout

block layout-content
  div.container
    div#route-list.list-group.p-5
        
      if user.role == 'ROLE_SUPERVISOR'
        .header.bg-secondary.py-3.rounded.text-white.text-center
          h2 Accounts
          h5
            each name, index in user.brigade
              if index == user.brigade.length - 1
                | #{name}
              else
                | #{name} - 

        if user.brigade
          .account-table
            table#accounts.table.table-striped.table-bordered
              thead.thead-dark
                tr
                  th(scope='col') #
                  th(scope='col') User Name
                  th(scope='col') member ID
                  th(scope='col') Hash
                  th(scope='col') Permission ID
              tbody
                each a in user.accounts
                  tr
                    th(scope="row")= a.id
                    td= a.username
                    td= a.memberID
                    td= a.hash
                    td= a.Permission.slice(5)
                        
        else
          p.text-center.p-4 There are no accounts to display.
          

      if user.role == 'ROLE_ADMIN'
        .header.bg-secondary.py-3.rounded.text-white.text-center
          h2 Accounts
          H5 All Accounts

        if user.accounts
          .account-table
            table#accounts.table.table-striped.table-bordered
              thead.thead-dark
                tr
                  th(scope='col') #
                  th(scope='col') User Name
                  th(scope='col') memberID
                  th(scope='col') Hash
                  th(scope='col') Permission ID
                  th(scope='col') Brigade
              tbody
                each account in user.accounts
                  tr
                    th(scope="row")= account.id
                    td= account.username
                    td= account.memberID
                    td= account.hash
                    td= account.Permission.slice(5)
                    td(tetype='pills')
                      each brigade, index in account.Brigades
                        if index == account.Brigades.length - 1
                          | #{brigade.brigadeName}
                        else 
                          | #{brigade.brigadeName}, 
                        
        else
          p.text-center.p-4 There are no accounts to display.


    

block scripts 
  script(src="/table-editor.js")

    script(src = "/table-editor.js")
    script.
      TableEditor.init({
        tableName: '#accounts',
        addButton: true,
        addButtonText: 'New Account',
        deleteRow: true,
        onAdd: (columns) => {
          $.ajax({
                  url: '/accounts/new',
                  type: 'post',
                  dataType: 'json',
                  data: {
                    username: columns[0],
                    memberid: columns[1],
                    password: columns[2],
                    permission: columns[3],
                    brigades: columns[4]
                  },
                  success: function( data, textStatus, jQxhr ){
                      TableEditor.table.find('tr:last').find('th').html(data.id)
                  },
                  error: function( jqXhr, textStatus, errorThrown ){
                      console.log( errorThrown );
                  }
            });
        },
        onEdit: (user, data) => {
          $.ajax({
                  url: '/accounts/edit/' + user,
                  type: 'post',
                  dataType: 'json',
                  data: {
                    username: data[0],
                    memberid: data[1],
                    password: data[2],
                    permission: data[3],
                    brigades: data[4]
                  },
                  success: function( data, textStatus, jQxhr ){
                      console.log(data)
                  },
                  error: function( jqXhr, textStatus, errorThrown ){
                      console.log( errorThrown );
                  }
            });
        },
        onDelete: (user) => {
          $.ajax({
                  url: '/accounts/remove/' + user,
                  type: 'post',
                  dataType: 'json',
                  success: function( data, textStatus, jQxhr ){
                      TableEditor.table.find('tr:last').find('th').html(data.id)
                  },
                  error: function( jqXhr, textStatus, errorThrown ){
                      console.log( errorThrown );
                  }
            });
        }
      })
