extends ../layout

block layout-content
  div.container
    div#route-list.list-group.p-5

      if user.role === 'ROLE_SUPERVISOR'
        .header.bg-secondary.py-3.rounded.text-white.text-center
          h2 Brigades
          h5
            i Member of

        if user.brigade
          .account-table
            table#brigades.table.table-striped.table-bordered
              thead.thead-dark
                tr
                  th(scope='col') #
                  th(scope='col') Title
                  th(scope='col') Address
                  th(scope='col') GeoLocation
              tbody
                for obj in user.brigade.objects
                  tr
                    th(scope="row")= obj.id
                    td= obj.name
                    td= obj.address
                    td= JSON.stringify(obj.geoLocation)
        else
          p.text-center There are no brigades.


      if user.role === 'ROLE_ADMIN'
        .header.bg-secondary.py-3.rounded.text-white.text-center
          h2 Brigades
            h5
              i All Brigades

        if user.brigade
          .account-table
            table#brigades.table.table-striped.table-bordered
              thead.thead-dark
                tr
                  th(scope='col') #
                  th(scope='col') Title
                  th(scope='col') Address
                  th(scope='col') GeoLocation
              tbody
                for obj in user.brigade.objects
                  tr
                    th(scope="row")= obj.id
                    td= obj.name
                    td= obj.address
                    td= JSON.stringify(obj.geoLocation)
        else
          p.text-center There are no brigades.

block scripts 
    script(src="/table-editor.js")
    script.
      TableEditor.init({
        tableName: '#brigades',
        addButton: true,
        addButtonText: 'New Brigade',
        deleteRow: true,
        onAdd: (columns) => {
          
        },
        onEdit: (user, data) => {
          
        },
        onDelete: (user) => {
          
        }
      })